
<style>
  p {
    text-indent: 2.0em;
    margin:1
  }
  header, footer {
  padding: 1em;
  color: white;
  background-color: Lightgreen;
  clear: left;
  text-align: center;
  }
  div.container {
  width: 77%;
  border: 1px solid gray;
  margin: 1
  }
  div.photo{
    width: 22%;
    border: 1px solid gray;
    margin: 1
  }
</style>
