
.webpage{
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.side-bar{
  float: left;
  height: 100%;
  width: 35%;
  background-color: #FFE4E1;
  border-radius: 5px;
  box-shadow: 5px 10px;
}
.img-style{
  border-radius: 5px;
  text-align: center;
}
.main{
  float: right;
  height: 100%;
  width: 63%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 10px;
}

.skill-space{
  border-radius: 5px;
  background-color: black;
}
p {
  text-indent: 1.0em;
  margin:1
}
#tab { display:inline-block;
       margin-left: 40px; }
header{
border-radius: 5px;
padding: 0.1em;
color: white;
background-color: black;
clear: left;
text-align: center;
}

footer{
  padding: 0.1em;
  color: white;
  text-align: center;
}
.container {
width: 100%;
margin: 1;
}
.photo{
  padding: 5% 5% 5% 5%;
}
